{% extends 'main.html' %}
{% block content %}

<h1>Home page</h1>
<div class="box_basic">
    <p>This is a test website page made as a learning project for both Django framework and HTML. Not very feature-rich at the moment, but things are being added.</p>
    <h5>Current features include:</h5>
    <p>- <a href="{% url 'roger' %}">Roger Man</a></p>
    <p>- <a href="{% url 'todo_list' %}">To do list</a></p>
    <p>- <a href="{% url 'post_list' %}">User posts</a></p>
</div>

{% endblock content %}