{% extends 'main.html' %}
{% block content %}
<!-- Login and register are handled on the same page because the interface is essentially the same as no extra fields are required currently -->

{% if variant == 'login' %}
<h1>Login</h1>
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Log in">
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>    
</div>
{% else %}
<h1>Register</h1>
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register">
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>
{% endif %}

{% endblock content %}