{% extends 'main.html' %}
{% block content %}

<h1>User posts</h1>
<p>A list of posts made by users</p>
<div>
    <form method="GET" action="{% url 'post_list' %}" style="display:inline;">
        <!-- name="q" allows for a variable being passed through the URL-->
        <input type="text" name="q" placeholder="Search posts..." />
    </form>
    {% if q != '' %}
    <a href="{% url 'post_list' %}">Show all</a>
    {% endif %}
</div>
<div>
    <h4><a href="{% url 'post_create' %}">Create a new post</a></h4>
</div>
<hr>
{% for item in posts %}
<div class="box_post">
    <h4><a href="{% url 'post_post' item.id %}">{{item.title}}</a></h4>
    <small><b>By:</b> {{item.poster}}</small>
    <div class="box_basic">
        <p>{{item.short_body}}</p>
    </div>
    <p>Replies: {{item.num_replies}}</p>
    <small><b>Created:</b> {{item.created}} <b>Updated:</b> {{item.updated}}</small>
    <hr>
</div>
{% endfor %}

{% endblock content %}