<div class="navbar">
    <div class="navbar_container">
        <!-- URLs can also be done by name using {#% url '...' %#} -->
        {% load static %}
        <a href="/"><img src="{% static 'images/logo_placeholder.png' %}" title="Silly Navbar Logo" /></a>
        <h3><a href="{% url 'roger' %}">Roger Man</a></h3>
        <h3><a href="{% url 'todo_list' %}">To do</a></h3>
        <h3><a href="{% url 'post_list' %}">User posts</a></h3>
        <h3><a href="{% url 'weather_fetcher' %}">Weather fetcher</a></h3>
        <h3><a href="{% url 'api_routes' %}">API</a></h3>
    </div>
    <div>
        {% if request.user.is_authenticated %}
        <h5>Hello, {{request.user}}! <a href="/logout/">(Logout)</a></h5>
        {% else %}
        <h5><a href="/login/">Login/Register</a></h5>
        {% endif %}
        {% if request.user.is_superuser %}
        <h5><a href="/admin/">Admin page</a></h5>
        {% endif %}
    </div>
</div>
<hr>