{% extends 'main.html' %}
{% block content %}

<h1>User posts</h1>
<p>A list of posts made by users</p>
{% for item in posts %}
<div class="box_basic">
    <h4><a href="/posts/item_id={{item.id}}">{{item.name}}</a> by: {{item.poster}}</h4>
    <p>{{item.short_body}}</p>
    <p>Replies: {{item.num_replies}}</p>
    <small>Created: {{objetive.created}} Latest reply: {{objective.updated}}</small>
</div>
{% endfor %}
<div>
    <h4><a href="/posts/create">Create a new post</a></h4>
</div>

{% endblock content %}