{% extends 'main.html' %}
{% block content %}

<h1>Post:</h1>
<div class="box_basic">
    <h3>{{original.title}}</h3>
    <small><b>By</b>: {{original.poster}}</small>
    <div class="box_basic">
        <p>{{original.body}}</p>
    </div>    
    <small><b>Created:</b> {{original.created}} <b>Updated:</b> {{original.updated}}</small>
    {% if request.user == original.poster %}
    <small><br><a href="/posts/item_id={{original.id}}/edit">Edit post</a> <a href="/posts/item_id={{original.id}}/delete">Delete post</a></small>
    {% endif %}
</div>
<h3>Replies:</h3>
{% for item in replies %}
<div class="box_basic">
    <h4>Reply by: {{item.poster}}</h4>
    <div class="box_basic"><p>
        {{item.body}}</p>
    </div>        
    <small>{{item.created}}</small>
</div>
{% endfor %}
<div>
    <h4><a href="/posts/item_id={{original.id}}/reply">Create a reply</a></h4>
</div>
<div>
    <h5><a href="/posts">Back to the user posts page</a></h5>
</div>

{% endblock content %}